:root{
    --light-gray: rgb(223, 223, 223);
}

#connexion{
    width: 20em;
    color: gainsboro;
}

.liste{
    height: 10em;
    width: 10em;
    border: 5px solid black;
    border-radius: 12px;
    margin: 20px;
}

.add-list p{
    font-size: 5em;
}

a, a:hover{
    text-decoration: none;
    color: #000000;
}

.description-textarea{
    height: 100px !important;
}

.icon-drag{
    height: 10px;
    width: 10px;
    background-color: #000000;
    border-radius: 100%;
}

.task{
    background-color: var( --light-gray );
}

/* .list-overall{
    border: solid 3px black;
} */

.new-task{
    border-right: 3px gray solid;
}